.section-three {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  min-height: 100dvh;
  gap: 4rem;
  /* outline: 1px solid red; */

}

.booking-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.875rem
}

.cta-text {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Dela";
}

.cta {
  background-color: var(--accent);
  color: var(--light);
  font-family: "Dela";
  text-transform: uppercase;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem 0.9rem 1.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  text-decoration: none;
}

.cta:hover {
  animation: cardHover 300ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  scale: 1.01;
  filter: drop-shadow(0px 0px 300px var(--accent));
  transition: 800ms;
}

.socials {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
}

.icon-container svg {
  fill: var(--light)
}

.icon-container:hover {
  cursor: pointer;
  animation: cardHover 300ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  scale: 1.02
}

.right-half {
  align-items: center;
  justify-content: center;
  /* outline: 1px solid red; */
  flex: 1;
  align-self: center;
}

.email {
  font-size: 1.1rem;
  margin-left: 1.5rem;
}

.email span {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--accent);
}

@media (max-width: 1200px) {

  .section-three {
    display: block;
    margin-top: 8rem;
    min-height: 50dvh;
  }

  .right-half {
    flex: 0;
    align-self: left;
    margin-top: 4rem;
  }

  .socials {
    justify-content: left;
  }
}