.section-two {
  height: auto;
  scroll-margin-block-start: 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  grid-auto-flow: row;
}

.card-container > * {
  flex: 1;
}

.title {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1.125rem;
}

@media (max-width: 1280px) {
  .card-container {
    grid-template-columns: repeat(2, minmax(40%, 300px));
  }
}

@media (max-width: 640px) {
  .card-container {
    grid-template-columns: repeat(1, minmax(100%, 400px));
  }
}
